@import '@/assets/css/variables.css';

.container {
  width: 900px;
  padding: calc(var(--standard-gap) * 1.5);
  display: flex;
  align-items: center;
  gap: var(--standard-gap);
  border-radius: 20px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 0px 15px 0px #00000026;
}

.searchInput {
  flex-grow: 1;
}

.button {
  width: 145px;
}

.buttonIcon {
  width: 24px;
  height: 24px;
}
