@import '@/assets/css/variables.css';

.card {
  position: relative;
  min-width: 304px;
  height: 416px;
  border: 1px solid #e4e6e8;
  border-radius: 14px;
}

.thumb {
  width: 100%;
  height: 245px;
  object-fit: cover;
  border-radius: 14px;
}

.content {
  position: absolute;
  width: 100%;
  height: 202px;
  border-radius: 14px;
  bottom: 0;
  padding: 32px 18px 26px 18px;
  background-color: var(--primary-bg-color);
}

.title {
  margin-bottom: 14px;
  font-size: var(--large-font-size);
  font-weight: var(--semi-bold-font-weight);
  color: #000;
}

.locationData {
  margin-bottom: 20px;
  display: flex;
  gap: 6px;
  align-items: center;
}

.locationIcon {
  width: 15px;
  height: 18px;
  color: #bdc0c2;
}

.locationText {
  font-size: var(--small-font-size);
  font-weight: 500;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: var(--bold-font-weight);
  font-size: var(--medium-font-size);
  color: #000;
}

.priceUnit {
  font-size: var(--small-font-size);
  color: #737373;
}

.link {
  border: 1px solid var(--default-border-color);
  border-radius: 92px;
  padding-inline: 10px;
  color: var(--secondary-font-color);
  font-weight: 500;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
