@import '@/assets/css/variables.css';

.container {
  width: 380px;
  padding: 24px;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.itemTitle {
  font-size: var(--default-font-size);
}

.itemDescription {
  color: var(--secondary-font-color);
  font-size: var(--small-font-size);
}

.counterContainer {
  display: flex;
  align-items: center;
}

.value {
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  font-size: var(--large-font-size);
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
  border-radius: 8px;
}
