@import '@/assets/css/variables.css';

.container {
  padding: 38px 48px;
  background-color: var(--primary-bg-color);
  border: 1px solid var(--default-border-color);
  border-radius: 14px;
}

.title {
  font-size: var(--extra-large-font-size);
  font-weight: var(--semi-bold-font-weight);
  margin-bottom: calc(var(--standard-gap) * 0.5);
}

.description {
  font-size: 16px;
  text-align: justify;
  color: var(--secondary-font-color);
  margin-bottom: calc(var(--standard-gap) * 1.5);
}
