@import '@/assets/css/variables.css';

.accordion {
  background-color: var(--primary-bg-color);
}

.accordionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4px;
}

.accordionBody {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease-out;
}
