@import '@/assets/css/variables.css';

.title {
  font-size: var(--huge-font-size);
  color: var(--contrast-font-color);
  font-weight: var(--bold-font-weight);
  text-align: center;
  line-height: 1;
}

.titleDark {
  color: var(--primary-font-color);
}
