@import '@/assets/css/variables.css';

.logo {
  color: var(--contrast-font-color, #fff);
}

.logo--dark {
  color: var(--primary-font-color, #0c0d0d);
}

.logo--small {
  width: 103px;
  height: 65px;
}
