:root {
  /* Typography */
  --default-font-family: 'Poppins, Arial, sans-serif';
  --default-font-size: 14px;
  --small-font-size: 12px;
  --medium-font-size: 18px;
  --large-font-size: 20px;
  --extra-large-font-size: 32px;
  --huge-font-size: 54px;

  --default-font-weight: 400;
  --bold-font-weight: 700;

  --primary-font-color: #0c0d0d;
  --secondary-font-color: #6e7477;
  --pale-font-color: #888e91;
  --contrast-font-color: #ffffff;

  /*Layout colors*/
  --danger-color: #ef4444;
  --primary-control-bg-color: #0d7bff;
  --secondary-control-bg-color: #eaebeb;
  --default-border-color: #eaebeb;

  /*Geometry */
  --default-border-radius: 10px;
  --secondary-border-radius: 26px;
  --standard-gap: 20px;
}
