@import '@/assets/css/variables.css';

.wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.input {
  display: none;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 1.5px solid var(--default-border-color);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  background-color: transparent;
}

.checked {
  border: none;
  background-color: var(--brand-color);
}

.icon {
  width: 12px;
  height: 8px;
  color: var(--contrast-font-color);
}
