@import '@/assets/css/variables.css';

.footer {
  background-color: var(--primary-font-color);
  padding: 58px 116px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  max-width: 578px;
}


.divider {
  margin-top: 56px;
  margin-bottom: 40px;
  width: 100%;
  height: 2px;
  background-color: #4e5356;
}

.copyRight {
  text-align: center;
  color: var(--contrast-font-color);
}
